* {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: 575757;
}
#map {
	width: 100%;
	height: 100%;
}
#overlay{
	overflow: auto;
	right: 0;
	display: none;
	top: 0;
	height: 100%;
	z-index: 2;
	width: 20%;
	background: #fff;
	opacity: 0.9;
	position: fixed;
}
#overlay h1 {
	padding-top: 5px;
	font-family: sans-serif;
	opacity: 1;
	font-size: 20px;
	text-align: center;
}
#overlay-content{
	padding: 10px;
	font-size: 16px;
	font-family: serif;
}
#overlay img {
	max-width: 280px;
	max-height: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#quest-ol{
	border-radius: 5px;
	display: none;
	left: 50%;
	top: 50%;
	margin-top:-174px;
	margin-left:-256px;
	overflow: auto;
	width: 478px;
	z-index: 2;
	background: #fff;
	position: fixed;
}
#quest-head{
	font-size: 30px;
	text-align: center;
	position: relative;
	padding: 0;
	display: block;
}
#quest-text {
	text-align: center;
	color: #575757;
}
#quest-answers input {
	margin: 5px;
	margin-left: 15px;
	vertical-align: middle;
}
#quest-answers button {
	margin: 20px;
	float: right;
}
.sweet-alert .visibleInput{
	display: inline-block;
	height: auto;
	width: auto;
	float: left;
	margin: auto;
	margin-right: 15px;
}
.sweet-alert .answer {
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 15px;
}
.sweet-alert .visibleInput + span {
	float: left;
}
