* {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.leaflet-popup-content *{
	color: #575757;
}
.ui-content {
	position: absolute;
	top: 45px;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0 !important;
}
.ui-header {
	z-index: 2;
}
#map {
	height: 100%;
}
.ui-panel.ui-panel-open {
	position: fixed;
}
.ui-panel .ui-panel-inner {
	position: absolute;
	bottom: 0;
	top:0;
	left: 0;
	right: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
#detail-panel-img {
	max-width: 100%;
	max-height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#bar-container {
	float:right;
}

#score-container, #xp-container {
	max-width: 200px;
	display: inline-block;
	margin-right: 15px;
}

#xp-circle, #score-circle{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.circle-desc {
	display: inline-block;
	font-size: 14px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#score-circle, #xp-circle {
	display: inline-block;
}

.progressbar {
   width: 200px;
   height: 16px;
   border: 1px solid #111;
   background-color: #292929;
}

.progressbar div {
    height: 100%;
    color: #fff;
    width: 0;
	 text-indent: 0;
    background-color: #0099ff;
}

.tiny-green div {
	font-size: 14px;
	text-align: center;
}

#xp-percent {
	z-index: 10;
	text-align: center;
	font-size: 14px;
	position: absolute;
	top: 2px;
	width: inherit;
	margin: 0;
	height: 16px;
}

#score-container > p, #xp-container >p {
	font-size: 12px;
	margin: 0;
	padding-left: 5px;
}
#intro-text{
	margin: 10px 20px 10px 20px;
}
#julius {
	display: block;
   margin-left: auto;
   margin-right: auto;
	width: 200px;
}
#breakanoid {
	display: block;
   margin-left: auto;
   margin-right: auto;
	border-style: double;
	border-width: 5px;
	border-color: white;
}
.ui-popup-container p{
	margin: 16px;
	max-width: 600px;
}
.ui-header .ui-title, .ui-footer .ui-title {
	margin: 0 10%;
}
#gif{
	margin: 15px auto;
	display: block
}
#reset-btn{
	position: absolute;
	bottom: 0;
	right: 10px;
	left: 10px;
}
